{% extends 'core/base.html' %}

{% block title %}Canchas{% endblock %}

{% block background %}{% load static %}{% static 'core/img/fulbito-about.jpg' %}{% endblock %}

{% block headers %}
<h1>Mis canchas</h1>
<span class="subheading">Canchas</span>
{% endblock %}


{% block content %}
<!--Muestra las canchas acorde se vayan creando-->

<section class="container ftco-section">
    <div class="row">
        {% for i in cancha %}
        <div class="col-4 p-3">
            <div class="card h-100">
                <img src="{{i.ruta_imagen.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{i.nombre}}</h5>
                    <p class="card-text">{{i.tipo_cancha}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}